* {
  box-sizing: border-box;
  font-family: 'Amatic SC', sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #fff;
}

body.light-mode {
  background: linear-gradient(135deg, #540d6e, #ee4266, #ffd23f, #0ead69);
  color: #333;
}

body.light-mode .wrapper__window {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.light-mode textarea {
  background-color: #fafafa;
  color: #333;
}

body.light-mode input {
  background-color: #fafafa;
  color: #333;
  border: 1px solid #ccc;
}

body.light-mode button {
  background-color: #3bceac;
  color: #fff;
  border: 1px solid #3bceac;
}

body.light-mode button:hover {
  background-color: #2bae92;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .wrapper__window {
  background-color: #1e1e1e;
  border: 1px solid #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body.dark-mode textarea {
  background-color: #2e2e2e;
  color: #e0e0e0;
}

body.dark-mode input {
  background-color: #2e2e2e;
  color: #e0e0e0;
  border: 1px solid #444;
}

body.dark-mode button {
  background-color: #3b3b3b;
  color: #e0e0e0;
  border: 1px solid #444;
}

body.dark-mode button:hover {
  background-color: #575757;
}

button {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  width: 95px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.wrapper__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  width: 600px;
}

.half-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
}

.encrypt-box,
.decrypt-box,
.result-box {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  resize: none;
}

.input-group {
  display: flex;
  align-items: center;
}

input {
  padding: 8px;
  font-size: 14px;
  width: 95px;
  border-radius: 5px;
}
